@import 'tailwindcss';
@plugin "daisyui";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
.h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.9rem;
}

.h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.7rem;
}

.h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6rem;
}

.h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5rem;
}

.h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4rem;
}

.p {
  font-size: 16px;
  line-height: 1.3rem;
  color: #333333;
}

.ctext {
  font-size: 14px;
  line-height: 1.2rem;
  color: #333333;
}
